.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .col-lg-4 {
        .list-group {
            .list-group-item {
                cursor: pointer;
                height: 50px;
                &:active {
                    opacity: .7;
                }
            }
        }
    }
}

